
<h2>Dynamic Items List</h2>

<div>
  <input type="checkbox" [(ngModel)]="small_mode" > small mode (2nd list)
</div>

<div style="display: flex; gap: 1em">
  <div style="flex: 2">
    <app-dynamic-list [items]="items" [small]="false"></app-dynamic-list>
  </div>
  <div style="flex: 1">
    <app-dynamic-list [items]="items" [small]="small_mode"></app-dynamic-list>
  </div>
</div>

<div style="display: flex; gap: .5em">
  <p-button (click)="updateData(0)" label="update 1st data" />
  <p-button (click)="addItem()" label="add item" severity="success"/>
</div>
